@using (Ajax.BeginForm("AddDaySpending", "PaymentRequest", null, new AjaxOptions() { OnSuccess = "successModal5" }, new { role = "form", id = "frmAddSpending" }))
            {
   
                <div class="modal-body">
        
                    <div class="form-group row">
                        <div class="col-md-2"></div>
                        <label class="control-label col-md-2" style="margin-top: 8px">Ngày chi</label>
                        <div class="col-md-6">
                            <div class="input-group date">

                                <input type="text" name="daySpending" class="form-control" required="" data_val="false" value="">
                                <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                    
                            </div>
                        </div>
                    </div>
                </div>
                <input type="text" hidden="" name="jsonIdDetail" value="@ViewBag.JsonIdDetail" />
                <div class="modal-footer">
                    <button type="button" class="btn btn-white" data-dismiss="modal">Hủy</button>
                    <button type="submit" class="btn btn-primary">Lưu</button>
                </div>
}
<script>
    $(function () {
        $('.input-group.date').datetimepicker({

            locale: 'vi',
            format: 'DD/MM/YYYY',
            extraFormats: ["MM/YYYY"],
            defaultDate: null
        });
    })

    function successModal5(result) {

        if (result.Code != null && result.Code != 0) {
            swal({
                type: "error",
                title: result.Message
            });
        }
        else if (result.Code == 0) {
            swal({
                type: "success",
                title: result.Message
            });
            $('#myModal5').modal('hide');
            
            @*var blockId = @Model.BlockID;*@
            setTimeout(function wait(){
                $('#btnSearch').click()
            }, 700);

        }

    }
</script>
