@using CTGroup.BO.Data
@using CTGroup.BO.Web.Common
@using CTGroup.BO.Web.Web
@model CTGroup.BO.Web.Models.PaymentRequestDetailSearchModel
<link href="/Content/PagedList.css" rel="stylesheet" type="text/css" />
@{
    ViewBag.Title = "Thanh toán";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-sm-4">
        <ol class="breadcrumb">
            <li class="active">
                <strong>Quản lý thanh toán</strong>
            </li>
        </ol>

    </div>
</div>

<div class="wrapper wrapper-content animated fadeInUp">

    <div class="ibox">
        <div class="ibox-title">
            <h5>Tìm kiếm</h5>

        </div>
        <div class="ibox-content">
            @using (Ajax.BeginForm("Approve", "PaymentRequest", new AjaxCommonOption { UpdateTargetId = "content" }))
            {
                <div class="form-horizontal row">
                    <div class="col-lg-12">
                        <div class="form-group">
                            <label class="col-md-2 control-label">Loại phiếu</label>
                            <div class="col-md-4">
                                @*@Html.DropDownListFor(x => x.TypeId, (List<SelectListItem>)ViewBag.TypeFileList, new { @class = "form-control" })*@
                                @Html.EnumDropDownList("Type", null, typeof(PaymentRequestType), true, "", new { @class = "form-control" }, "-- Tất cả --")
                            </div>
                            @*<label class="col-md-2 control-label">Trạng thái duyệt</label>
                            <div class="col-md-4">
                                @Html.EnumDropDownList("Status", null, typeof(PaymentRequestDetailStatus), true, "", new
                                {
                                    @class = "form-control"
                                }, "-- Tất cả --")
                            </div>*@

                        </div>

                        <div class="form-group">
                            <label class="col-md-2 control-label">Từ ngày duyệt</label>
                            <div class="col-md-4">
                                <div class="input-group date">
                                    @Html.TextBoxFor(x => x.FromDate, new { @class = "form-control", data_val = "false" })
                                    <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                                </div>
                            </div>
                            <label class="col-md-2 control-label">Đến ngày duyệt</label>
                            <div class="col-md-4">
                                <div class="input-group date">
                                    @Html.TextBoxFor(x => x.ToDate, new { @class = "form-control", data_val = "false" })
                                    <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                                </div>
                            </div>
                        </div>


                        <div class="row">
                            <div class="col-lg-12">
                                <button class="btn btn-primary" type="submit" id="btSearch">Tìm</button>
                            </div>
                        </div>
                    </div>
                </div>
            }
            <div id="content" class="loading">

            </div>
        </div>
    </div>
</div>



<script type="text/javascript">
    $(function () {
        $('.input-group.date').datetimepicker({
            locale: 'vi',
            format: 'DD/MM/YYYY',
            extraFormats: ["MM/YYYY"],
            defaultDate: null
        });
        $("#btSearch").click();
    });
</script>