<div class="pull-right hidden-xs">
    <b>Version</b> 1.0.0
</div>
<strong>Copyright &copy; 2016@*<a href="#">Webmeida.com.vn</a>*@.</strong> Phát triển bởi Nguyễn Hoàng Chân Mail: chancntt09@gmail.com.

