
<ol class="breadcrumb">
    @if (ViewBag.ShowC)
    {
    <li><button name="typeName" value="savenew" type="submit" class="btn   btn-success btn-sm"><i class="fa fa-save"></i> Save & new </button></li>}
    @if (ViewBag.ShowE)
    {
    <li><button name="typeName" value="saveedit" type="submit" class="btn   btn-info btn-sm"><i class="fa fa-edit"></i> Save & edit</button></li>}
    @if (ViewBag.ShowC)
    {
    <li><a href="Create" class="btn  btn-default btn-sm"><i class="fa fa-plus"></i> Thêm mới </a></li>}
    <li><a href="Index" class="btn  btn-default btn-sm"><i class="fa fa-list"></i> Danh sách</a></li>
    <li><a href="Trash" class="btn  btn-default btn-sm"><i class="fa fa-trash"></i> Danh sách rác</a></li>
</ol>
